.proves{
	min-height:60px;
	margin-bottom:5px;
	margin-bottom:5px;
	border-bottom:1px solid black;
}
#container{
	overflow-x:auto;
}
.row{
	margin:0px;
}

.titol_prova {
	font-family:'Special Elite', cursive;
	font-size:17pt;
	margin-left:0;
	margin-bottom:0;
	line-height:2em;
}

.proves {
	color:#000000;
	position:relative;
}


.subtitol_prova {
	font-family:'Waiting for the Sunrise', sans-serif, 'Lucida Handwriting';
	text-align:justify;
	top:0;
	font-size:15pt;
	line-height:1em;
}

.hora_prova {
	font-family:'Poiret One', cursive;
	text-align:justify;
	font-size:15pt;
	line-height:1em;
	background-color:#000000;
	color:#FFFFFF;
}
.enll{
	float:left;
	width:50px;
	margin-right:10px;
}
