#contenidor {
	width:995px;
	height:520px;
	margin-right:auto;
	margin-left:auto;
}

#content_body_contacte {
	width:1000px;
	height:640px;
	position:relative;
	float:left;
}

#int {
	height:100%;
	margin-top:auto;
	width:995px;
	float:left;
	overflow:auto;
}

#hist_text {
	text-align:justify;
	white-space:pre-line;
	margin-top:auto;
	margin-bottom:auto;
	margin-left:7.5px;
	width:970px;
}

#slidecolles {
	width:980px;
	height:300px;
	margin:auto;
}

#seleslide {
	position:absolute;
	width:110px;
	height:10px;
	margin-top:307px;
	margin-left:435px;
}

#info {
	font-variant:inherit;
	white-space:pre-line;
	position:relative;
	top:30px;
}

.slide {
	position:absolute;
	display:none;
}

.visi {
	display:inline;
}

.inactiv {
	float:left;
	width:10px;
	height:10px;
	background-image:url(../img/inactivo.png);
	margin-right:5px;
}

.activ {
	float:left;
	width:10px;
	height:10px;
	background-image:url(../img/activo.png);
	margin-right:5px;
}

/*.info*/

#info {
	width:980px;
	height:220px;
	margin:auto;
}

.tex {
	font-family:'Poiret One', 'Helvetica Neue', Arial;
	text-decoration:none;
	color:#000000;
}

.tex:hover {
	font-family:'Poiret One', 'Helvetica Neue', Arial;
	color:#000000;
	text-decoration:underline;
}

